<div aria-label="Workspace commands" class="nyx-menubar" data-nyx-menubar>
  <button class="nyx-menubar-trigger" data-nyx-dropdown-menu-trigger="nyx-file-menu" type="button">File</button>
  <button class="nyx-menubar-trigger" data-nyx-dropdown-menu-trigger="nyx-edit-menu" type="button">Edit</button>
  <button class="nyx-menubar-trigger" data-nyx-dropdown-menu-trigger="nyx-view-menu" type="button">View</button>
  <div aria-label="File" class="nyx-popover nyx-menu" data-nyx-dropdown-menu id="nyx-file-menu" popover>
    <button class="nyx-menu-item" role="menuitem" type="button">New file <kbd>Ctrl N</kbd></button>
    <button class="nyx-menu-item" role="menuitem" type="button">Open <kbd>Ctrl O</kbd></button>
    <button class="nyx-menu-item" role="menuitem" type="button">Save <kbd>Ctrl S</kbd></button>
  </div>
  <div aria-label="Edit" class="nyx-popover nyx-menu" data-nyx-dropdown-menu id="nyx-edit-menu" popover>
    <button class="nyx-menu-item" role="menuitem" type="button">Undo <kbd>Ctrl Z</kbd></button>
    <button class="nyx-menu-item" role="menuitem" type="button">Redo <kbd>Ctrl Y</kbd></button>
  </div>
  <div aria-label="View" class="nyx-popover nyx-menu" data-nyx-dropdown-menu id="nyx-view-menu" popover>
    <button aria-checked="true" class="nyx-menu-item" data-nyx-dropdown-menu-close-on-select="false" role="menuitemcheckbox" type="button">Show sidebar</button>
    <button class="nyx-menu-item" role="menuitem" type="button">Full screen</button>
  </div>
</div>
